*{
    margin: 0;
    font-family: "Open Sans";

}


header {

    border-bottom: 5px solid #89DEEF;
    padding: 25px;
    background-color: #004175;
    color: white;
    

}


h3 {
    margin: 15px;
    margin-left: 0px;
    font-family: Oswald;
    border-top: 25px;
    padding: 0;
    border-color:#89DEEF;
    color: black; 

}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px;
    padding: 0px;

}

ul.traits li {
    font-family: "open sans"; 
    display:inline;
    list-style-type: none;
    background-color: #89deef;
    border-radius: 10px;
    flex-direction: row;
    margin: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
    padding: 5px;   
      
}

.dog-cards img {
    height: 350px;
    width: 350px;
    border: 0px;
    border-right: 5px;

}


    


